branches:
  - name: main
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - { type: doc, scope: README, release: patch }
        - { type: fix, release: patch }
        - { type: chore, release: patch }
        - { type: refactor, release: patch }
        - { type: feat, release: patch }
        - { type: ci, release: patch }
        - { type: style, release: patch }
      parserOpts:
        noteKeywords:
          - MAJOR RELEASE
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/github"
      # From: https://github.com/semantic-release/github/pull/487#issuecomment-1486298997  
    - successComment: false
      failTitle: false 
