[[constraint]]
  name = "github.com/hairyhenderson/toml"
  branch = "support-map-interface-keys"

[[constraint]]
  name = "gopkg.in/yaml.v2"
  branch = "v2"

[[constraint]]
  name = "github.com/aws/aws-sdk-go"
  version = "=1.8.26"