{{ define "argName" }}{{ if not .required }}[{{ .name }}]{{else}}{{ .name }}{{end}}{{ end }}

{{- define "usage" }}### Usage
{{- $arguments := index . "arguments" | default slice }}
{{ if has . "rawUsage" }}{{ .rawUsage | strings.TrimSpace }}{{ else }}
```go
{{ .name }}{{ range $a := $arguments }} {{template "argName" $a }}{{end}}
```
{{- if (index . "pipeline" | default false) }}
```go
{{ $last := (sub (len $arguments) 1) -}}
{{ (index $arguments $last).name }} | {{ .name }}{{ range $i, $a := $arguments }}{{if not (eq $i $last)}} {{template "argName" $a }}{{end}}{{end}}
```
{{- end }}{{ end -}}
{{ end -}}

{{ $data := ds "data" -}}
---
title: {{ index $data "title" | default (print $data.ns " functions") }}
menu:
  main:
    parent: functions
---

{{ $data.preamble -}}

{{ range $_, $f := $data.funcs }}
## {{ if has $f "rawName" }}{{ $f.rawName }}{{ else }}`{{ $f.name }}`{{ if has $f "deprecated" }} _(deprecated)_
**Deprecation Notice:** {{ $f.deprecated }}{{ end }}{{ end }}
{{ if has $f "alias" }}
**Alias:** `{{$f.alias}}`
{{ end }}

{{- if has $f "description" }}
{{ $f.description }}
{{ end -}}

{{ template "usage" $f }}

{{ if has $f "arguments" -}}
### Arguments

| name | description |
|------|-------------|
{{ range $f.arguments }}| `{{.name}}` | _({{if .required}}required{{else}}optional{{end}})_ {{.description}} |
{{ end }}
{{- end -}}
{{if has $f "examples" }}
### Examples

{{ range $f.examples -}}
```console
{{ . | strings.TrimSpace }}
```
{{ end }}{{ end -}}
{{ if has $f "rawExamples" }}
### Examples

{{ range $f.rawExamples }}{{ . }}{{ end }}{{ end }}{{ end -}}
