name: Conventional Commits

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: webiny/action-conventional-commits@v1.3.0
        with:
          allowed-commit-types: feat,fix,docs,deps,chore,build,ci
