name: Docker Release Build

on:
  release:
    types: [published]

jobs:
  docker-release-build:
    runs-on: ubuntu-latest
    env:
      TAG_NAME: ${{ github.event.release.tag_name }}
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.1.0
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3.6.1
      with:
        version: v0.14.1
        driver-opts: |
          image=moby/buildkit:buildx-stable-1
          network=host
    - name: Available platforms
      run: echo {{ `${{ steps.buildx.outputs.platforms }}` }}
    - run: docker info && docker version
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Login to GHCR
      uses: docker/login-action@v3.2.0
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: Login to DockerHub
      uses: docker/login-action@v3.2.0
      with:
          # NOTE: DOCKERHUB_TOKEN and DOCKERHUB_USERNAME must be present in https://github.com/hairyhenderson/gomplate/settings
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build & Push
      run: |
        export srcrepo=${{ github.repository}}

        make docker-multi COMMIT=${{ github.sha }} DOCKER_REPO=${srcrepo} BUILDX_ACTION=--push

        set -x
        export repo=${srcrepo}
        docker buildx imagetools create -t ${repo}:stable ${srcrepo}:latest
        docker buildx imagetools create -t ${repo}:${git_tag} ${srcrepo}:latest
        docker buildx imagetools create -t ${repo}:${major_version} ${srcrepo}:latest

        docker buildx imagetools create -t ${repo}:stable-alpine ${srcrepo}:alpine
        docker buildx imagetools create -t ${repo}:${git_tag}-alpine ${srcrepo}:alpine
        docker buildx imagetools create -t ${repo}:${major_version}-alpine ${srcrepo}:alpine

        export repo=gomplate/gomplate
        docker buildx imagetools create -t ${repo}:stable ${srcrepo}:latest
        docker buildx imagetools create -t ${repo}:${git_tag} ${srcrepo}:latest
        docker buildx imagetools create -t ${repo}:${major_version} ${srcrepo}:latest

        docker buildx imagetools create -t ${repo}:stable-alpine ${srcrepo}:alpine
        docker buildx imagetools create -t ${repo}:${git_tag}-alpine ${srcrepo}:alpine
        docker buildx imagetools create -t ${repo}:${major_version}-alpine ${srcrepo}:alpine

        # and now GHCR
        export repo=ghcr.io/${srcrepo}
        docker buildx imagetools create -t ${repo}:stable ${srcrepo}:latest
        docker buildx imagetools create -t ${repo}:${git_tag} ${srcrepo}:latest
        docker buildx imagetools create -t ${repo}:${major_version} ${srcrepo}:latest

        docker buildx imagetools create -t ${repo}:stable-alpine ${srcrepo}:alpine
        docker buildx imagetools create -t ${repo}:${git_tag}-alpine ${srcrepo}:alpine
        docker buildx imagetools create -t ${repo}:${major_version}-alpine ${srcrepo}:alpine
