name: Docker Build
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - '5000:5000'
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.3.0
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3.8.0
      with:
        version: v0.14.1
        driver-opts: |
          image=moby/buildkit:buildx-stable-1
          network=host
    - name: Available platforms
      run: echo {{ `${{ steps.buildx.outputs.platforms }}` }}
    - run: docker info && docker version
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build & Push (local CI registry)
      run: |
        set -ex
        make docker-multi COMMIT=${{ github.sha }} DOCKER_REPO=localhost:5000/gomplate BUILDX_ACTION=--push

        docker buildx imagetools create --dry-run -t localhost:5000/gomplate:dev localhost:5000/gomplate:latest
        docker buildx imagetools create --dry-run -t localhost:5000/gomplate:dev-alpine localhost:5000/gomplate:alpine
